.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--highlight-color);
  font-weight: bold;
  color: var(--highlight-color);
  text-transform: uppercase;

  &:hover,
  &:focus,
  &.active {
    background-color: var(--highlight-color);
    color: var(--main-bg-color);
  }
}
