.listLayout {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 2/3;
  background: var(--card-bg-color);
  transition: all 0.2s ease-in-out;
}

.listItem:hover {
  box-shadow: 0 1.25rem 1.5rem -1rem black;
  transform: scale(1.1);
  z-index: 10;
}

.listImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (width >= 40rem) {
  .listLayout {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (width >= 48rem) {
  .listLayout {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
