.overlay {
  position: fixed;
  inset: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.container {
  position: fixed;
  inset: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.content {
  max-width: 48rem;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background: var(--card-bg-color);
  pointer-events: auto;
}

.button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
}

@media (min-width: 30rem) {
  .container {
    padding-inline: 1rem;
  }

  .content {
    height: 90vh;
  }

  .button {
    top: 3rem;
    right: 2rem;
  }
}
