.overlay {
  position: fixed;
  inset: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.container {
  position: fixed;
  inset: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.content {
  max-width: 48rem;
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
  background: var(--card-bg-color);
  pointer-events: auto;
}

.button {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
}
