:root {
  --deep-charcoal: #121212;
  --charcoal: #1e1e1e;
  --electric-blue: #3d5afe;
  --gold: #ffb400;
  --white: #fff;
  --light-gray: #aaa;

  --main-bg-color: var(--deep-charcoal);
  --card-bg-color: var(--charcoal);
  --primary-color: var(--electric-blue);
  --highlight-color: var(--gold);
  --text-color: var(--white);
  --subtext-color: var(--light-gray);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--main-bg-color);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
  font-weight: bold;
  line-height: 1.15;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.875rem;
}

p {
  margin-bottom: 1em;
}

.main {
  padding-block: 3rem;
}

.section {
  padding: 1rem 2rem;
}

.content {
  max-width: 80rem;
  margin: 0 auto;
}

/* Utility Classes */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
