:root {
  --deep-charcoal: #121212;
  --charcoal: #1e1e1e;
  --electric-blue: #3d5afe;
  --gold: #ffb400;
  --white: #fff;
  --light-gray: #aaa;

  --main-bg-color: var(--deep-charcoal);
  --card-bg-color: var(--charcoal);
  --primary-color: var(--electric-blue);
  --highlight-color: var(--gold);
  --text-color: var(--white);
  --subtext-color: var(--light-gray);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--main-bg-color);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
