.container {
  width: 100%;
  max-width: 60rem;
  margin-inline: auto;
}

.header {
  position: relative;
}

.backdropImage,
.posterImage {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.title {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  gap: 1rem;

  h1 {
    margin: 0;
    font-weight: bold;
    text-wrap: balance;
    text-shadow: 0px 2px 2px #000;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  padding: 2rem 1rem;
}

.info {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;

  p {
    margin: 0;
  }
}

.overview {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-wrap: pretty;

  span {
    color: var(--subtext-color);
  }
}

.genreList {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  list-style-type: none;
}

.genreListItem {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--subtext-color);
  border-radius: 0.25rem;
  font-size: 0.85rem;
  line-height: 1;
  text-transform: uppercase;
  color: var(--subtext-color);
}

@media (min-width: 30rem) {
  .content {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .actions {
    grid-column: span 2;
  }

  .overview {
    grid-column: span 2;
  }
}

@media (min-width: 36rem) {
  .title {
    left: 2rem;
  }

  .content {
    padding-inline: 2rem;
  }

  .actions {
    grid-column: span 1;
  }

  .overview {
    grid-column: span 3;
  }
}
